body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
   z-index: -1;
   background-color: white;
}

div {
   box-sizing: border-box;
}

/* General things */
a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #F6931D;
}

p {
   font-size: .9em;
   line-height: 1.9em;
   color: #525252;
   font-weight: 300;
   margin-top: 20px;
}

h1 {
   font-size: 3em;
   color: #525252;
   line-height: 1.3em;
}

h2 {
   font-size: 1.7em;
   color: white;
   line-height: 1.2em;
   margin: 0;
}

h3 {
   color: white;
   text-align: center;
   font-size: 1.3em;
   text-transform: uppercase;
   letter-spacing: .15em;
   font-weight: 300;
   line-height: 0;
   margin: 0;
}

h4 {
   color: white;
   font-size: 2em;
   text-align: center;
}

/* content of page css */
.content, .content-mobile {
   z-index: 0;
   position: relative;
}

/* Header Style */
.header {
   width: 100%;
   padding: 0;
   overflow: auto;
   margin-bottom: 60px;
}

/* Column Style */
.columncontain {
   margin-bottom: 40px;
}

.column {
   width: 50%;
   margin: 0;
   display: inline-block;
   min-width: 250px;
   overflow: hidden;
   vertical-align: top;
}

.column img {
   width: 100%;
   margin: auto;
   display: inline-block;
}

.imgcolumn {
   padding: 0 0 0 100px;
}

.textcolumn {
   padding: 40px 15% 40px 40px;
}

.textcolumn span {
   color: grey;
   font-weight: 500;
   font-style: italic;
}

.content-mobile .imgcolumn {
   height: auto;
}

/* Project Images Style */
.images {
   text-align: center;
   width: 100%;
   max-width: 1200px;
   margin: 0 auto 20px auto;
}

.images img {
   width: 100%;
   display: inline-block;
   vertical-align: top;
   max-width: 500px;
   margin: 20px;
}

.content-mobile .images img {
   margin: 20px 0 20px 0;
}

/* Project Navigation arrows Style */
.projnavigation {
   padding: 20px;
   width: 100%;
   text-align: center;
   margin-bottom: 80px;
}

.navbox {
   height: 10vh;
   width: 30vw;
   display: inline-block;
   vertical-align: top;
   text-align: center;
}

.navbox img {
   height: 100%;
   display: inline-block;
}

.navprev {
   margin-left: 0;
   text-align: left;
}

.navall {
   margin: auto;
   vertical-align: bottom;
}

.navall img {
   height: 50px;
}

.navall .navtext {
   text-align: left;
   vertical-align: text-bottom;
   margin-left: 10px;
   display: none;
}

.navnext {
   margin: 0 0 0 auto;
   text-align: right;
}

.navtext {
   display: inline-block;
   vertical-align: top;
   margin-top: 1vh;
}

.navtext p {
   margin: 0;
   vertical-align: middle;
   font-size: 3vh;
   font-weight: 300;
   line-height: 1.2;
   color: #828282;
}

.navtext p span {
   font-size: 4vh;
   font-weight: 700;
}

.content-mobile .navnext, .content-mobile .navprev {
   display: none;
}

.content-mobile .navall .navtext {
   display: inline-block;
}

.content-mobile .navbox {
   width: auto;
}

/* Mobile version Style updates */
.content-mobile {
   margin-top: 20px;
}

.content-mobile .column {
   width: 100vw;
   margin: 0;
   padding: 0 20px;
}
