body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
   z-index: -1;
   background-color: white;
}

div {
   box-sizing: border-box;
}

/* General things */
a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #F6931D;
}

p {
   font-size: .9em;
   line-height: 1.9em;
   color: white;;
   font-weight: 300;
}

h1 {
   line-height: 1.2em;
   margin: 0;
}

h2 {
   font-size: 1.7em;
   color: white;;
   line-height: 1.2em;
   margin: 0;
}

h3 {
   color: white;
   text-align: center;
   font-size: 1.3em;
   text-transform: uppercase;
   letter-spacing: .15em;
   font-weight: 300;
   line-height: 0;
   margin: 0;
}

h4 {
   color: white;;
   font-size: 2em;
   text-align: center;
}

/* content of page css */
.content, .content-mobile {
   z-index: 0;
   position: relative;
}

/* Header Style */
.header {
   width: 100%;
   background-image: url("../assets/projects1.jpg");
   background-size: cover;
   background-position: center;
   padding: 0;
   overflow: auto;
}

/* Column Style */
.column {
   width: 28%;
   margin: 10px 10px;
   display: inline-block;
   min-width: 250px;
}

/* Project Style */
.projectflow {
   width: 100%;
   max-width: 1000px;
   display: block;
   margin: 10px auto 10px auto;
   text-align: center;
}

.project {
   width: 28%;
   height: 30vh;
   display: inline-block;
   background-color: white;
   background-size: cover;
   background-position: center;
   vertical-align: top;
   position: relative;
   margin: 10px;
   background-repeat: no-repeat;
}

.project .fader {
   background-color: black;
   opacity: .1;
   width: 100%;
   height: 100%;
}

.project:hover .fader {
   opacity: .4;
   transition: 200ms;
}

.content-mobile .project .fader {
   opacity: .3;
}

/* Projects Finalized */

#industry {
   background-image: url("../assets/camo.jpg");
   background-size: cover;
}

#firstascent {
   background-image: url("firstascent/hero/hero.jpg");
   background-size: contain;
}

#eddiebauer {
   background-image: url("eddiebauer/hero/hero.jpg");
   background-size: cover;
}

#ebtents {
   background-image: url("ebtents/hero/hero.jpg");
   background-size: cover;
}

#or {
   background-image: url("or/hero/hero.jpg");
   background-size: cover;
}

#vertx {
   background-image: url("vertx/hero/hero.jpg");
   background-size: contain;
}

#sportiva {
   background-image: url("sportiva/hero/hero.jpg");
   background-size: contain;
}

#patagonia {
   background-image: url("patagonia/hero/hero.jpg");
   background-size: contain;
}

#sealline {
   background-image: url("sealline/hero/hero.jpg");
   background-size: contain;
}

#sage {
   background-image: url("sage/hero/hero.jpg");
   background-size: contain;
}

#rei {
   background-image: url("rei/hero/hero.jpg");
   background-size: contain;
}

#milwaukee {
   background-image: url("milwaukee/hero/hero.jpg");
   background-size: cover;
}

#underarmour {
   background-image: url("underarmour/hero/hero.jpg");
   background-size: cover;
}

#element {
   background-image: url("element/hero/hero.jpg");
   background-size: contain;
}

#seemore {
   background: rgb(85,85,85);
   background: linear-gradient(140deg, rgba(85,85,85,1) 0%, rgba(113,113,113,1) 21%, rgba(150,150,150,1) 100%);
}

#seemore .projecttext {
   display: inline-block;
   margin: 15vh auto 0 auto;
   text-align: center;
   width: 100%;
}

#seemore .projecttext h1 {
   color: white;
   text-align: center;
   margin-top: -29px;
   line-height: 29px;
   font-size: 24px;
}

.projecttext {
   margin: 10%;
   position: absolute;
   top: 0;
   left: 0;
   color: white;
   display: none;
   text-align: left;
}

.project:hover .projecttext {
   display: inline-block;
}

.content-mobile .projecttext {
   display: inline-block;
}

.projecttext h1, .projecttext h2 {
   color: white;
}

.projecttext h1 {
   font-size: 1.8em;
   text-align: left;
}

.projecttext h2 {
   font-size: 1em;
   font-weight: 300;
}

/* Mobile version Style updates */
.content-mobile .projectflow {
   margin-top: 20px;
}

.content-mobile .column {
   width: 100vw;
   margin: 0;
   padding: 0 20px;
}

.content-mobile .project {
   width: 100%;
   margin: 0 0 20px 0;
   height: 45vh;
}
