body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
   z-index: -1;
}

div {
   box-sizing: border-box;
}

/* General things */
a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #F6931D;
}

p {
   font-size: .9em;
   line-height: 1.9em;
   color: #404042;
   font-weight: 300;
}

h1 {
   font-size: 3em;
   color: #525252;
   line-height: 1em;
}

h2 {
   font-size: 1.7em;
   color: #7B7B7B;
   line-height: 1.2em;
   margin: 0;
}

h3 {
   color: white;
   text-align: center;
   font-size: 1.3em;
   text-transform: uppercase;
   letter-spacing: .15em;
   font-weight: 300;
   line-height: 0;
   margin: 0;
}

h4 {
   color: #525252;
   font-size: 2em;
   text-align: center;
}

/* content of page css */
.content, .content-mobile {
   z-index: 0;
   position: relative;
}

/* Header Style */
.header {
   width: 100%;
   background-image: url("../assets/machine.png");
   background-size: cover;
   background-position: middle center;
   padding: 0;
   overflow: auto;
}

/* Column Style */
.column {
   width: 28%;
   margin: 10px 10px;
   display: inline-block;
   min-width: 250px;
}

/* Project Style */
.projectflow {
   width: 100%;
   max-width: 1000px;
   display: block;
   margin: 10px auto 10px auto;
   text-align: center;
}

.project {
   width: 28%;
   height: 30vh;
   display: inline-block;
   background-color: white;
   background-size: cover;
   background-position: center;
   vertical-align: top;
   position: relative;
   margin: 10px;
   background-repeat: no-repeat;
}

.project .fader {
   background-color: black;
   opacity: .1;
   width: 100%;
   height: 100%;
}

.project:hover .fader {
   opacity: .4;
   transition: 200ms;
}

.content-mobile .project .fader {
   opacity: .3;
}

#hi5 {
   background-image: url("hi5/hero/hero.jpg");
   background-size: contain;
}

#alchemist {
   background-image: url("alchemist/hero/hero.jpg");
   background-size: contain;
}

#lightwire {
   background-image: url("lightwire/hero/hero.jpg");
   background-size: cover;
}

#lodestar {
   background-image: url("lodestar/hero/hero.jpg");
   background-size: cover;
}

#sorcerer {
   background-image: url("sorcerer/hero/hero.jpg");
   background-size: cover;
}

#rei {
   background-image: url("rei/hero/hero.jpg");
   background-size: contain;
}

#sealline {
   background-image: url("sealline/hero/hero.jpg");
   background-size: contain;
}

#typhoon {
   background-image: url("typhoon/hero/hero.jpg");
   background-size: contain;
}

#katabatic {
   background-image: url("katabatic/hero/hero.jpg");
   background-size: cover;
}

#redlithium {
   background-image: url("redlithium/hero/hero.jpg");
   background-size: cover;
}

#industry {
   background-image: url("../assets/camo.jpg");
   background-size: cover;
}

#firstascent {
   background-image: url("firstascent/hero/hero.jpg");
   background-size: contain;
}

.projecttext {
   margin: 10%;
   position: absolute;
   top: 0;
   left: 0;
   color: white;
   display: none;
   text-align: left;
}

.project:hover .projecttext {
   display: inline-block;
}

.content-mobile .projecttext {
   display: inline-block;
}

.projecttext h1, .projecttext h2 {
   color: white;
}

.projecttext h1 {
   font-size: 1.8em;
}

.projecttext h2 {
   font-size: 1em;
   font-weight: 300;
}

/* Mobile version Style updates */
.content-mobile .projectflow {
   margin-top: 20px;
}

.content-mobile .column {
   width: 100vw;
   margin: 0;
   padding: 0 20px;
}

.content-mobile .project {
   width: 100%;
   margin: 0 0 20px 0;
   height: 45vh;
}
