body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
   background-color: #222222;
   overflow-x: hidden;
}

div {
   box-sizing: border-box;
}

.content, .content-mobile {
   z-index: 0;
}

/* General things */
a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #F6931D;
}

p {
   font-size: .9em;
   line-height: 1.9em;
   color: white;
   font-weight: 300;
}

h1 {
   font-family: 'Libre Baskerville', sans-serif;
   font-size: 5em;
   color: white;
   line-height: 1.2em;
   margin: 0;
}

.content-mobile h1 {
   font-size: 3em;
}

/* Jquery text testing */
.italic {
   font-style: italic;
}

.roboto {
   font-family: 'Libre Baskerville', serif;
}

.slab {
   font-family: 'Halant', serif;
}

.chenga {
   font-family: 'Source Serif Pro', serif;
}

.crimson {
   font-family: 'Crimson Text', serif;
}

.encode {
   font-family: 'poynter-oldstyle-display', serif;
}

.open {
   font-family: 'Open Sans', sans-serif;
}

.brother {
   font-family: 'roboto', sans-serif;s
}

h2 {
   font-size: 1.7em;
   color: white;
   line-height: 1.2em;
   margin: 0;
}

h3 {
   color: white;
   text-align: center;
   font-size: 1.3em;
   text-transform: uppercase;
   letter-spacing: .15em;
   font-weight: 300;
   line-height: 0;
   margin: 0;
}

h4 {
   color: white;
   font-size: 2em;
   text-align: center;
}

/* Light Modifier */
.light h1, .light h2, .light .button {
   color: white;
   border-color: white;
}

/* Menu */
.icon {
   position: fixed;
   margin-right: 40px;
   right: 0px;
   margin-top: 30px;
   font-size: 23px;
   color: black;
   width: 30px;
   height: 30px;
   border-radius: 1px;
   background-color: white;
   text-align: center;
   padding: 12px;
   display: block;
   z-index: 1;
   box-shadow: 0 0 12px 12px rgba(0, 0, 0, 0.03);
}

.icon i {
   line-height: 1.3;
   text-align: center;
   vertical-align: middle;
   margin-bottom: 3px;
}

#menulist {
   position: fixed;
   margin-right: 40px;
   margin-top: 100px;
   border-radius: 1px;
   background-color: white;
   text-align: center;
   width: 200px;
   right: 0;
   display: none;
   padding: 20px 40px;
   z-index: 1;
   box-shadow: 1px 1px 12px 12px rgba(0, 0, 0, 0.03);
}

#menulist ul {
   text-align: center;
   padding: 0;
}

#menulist ul li {
   display: inline-block;
   width: 100%;
   text-align: center;
   font-size: 1.2em;
   font-weight: 500;
   padding: 0;
   color: #606060;
   text-transform: uppercase;
   margin: 12px 0;
}

#menulist span {
   color: orange;
   display: none;
}

#menulist a:hover li {
   color: orange;
}

/* Header Style */
.logo {
   padding: 3vh;
   width: 100%;
   display: inline-block;
   right: 0;
   left: 0;
   text-align: left;
}

.content-mobile .logo {
   margin-top: 17vh;
}

.logo img {
   margin: 0;
   height: 10vh;
   display: inline-block;
}

.header h1 {
   margin: 80px 0 40px 0;
   text-align: center;
   display: block;
}

/* Button Style */
.button {
   display: inline-block;
   margin-top: 10vh;
}

.button p {
   display: inline-block;
   padding: 12px 30px 10px 30px;
   border: solid grey 2px;
   color: grey;
   color: inherit;
   letter-spacing: .15em;
   text-transform: uppercase;
   background-color: white;
}

.button p:hover {
   background-color: grey;
   color: white;
}

.content .button {
   background-color: none;
}

.light h1, .light h2, .light .button p {
   color: white;
   border-color: white;
}

.light p {
   background-color: grey;
}

.light .button p:hover {
   background-color: white;
   color: grey;
   border-color: white;
}

/* Footer Style */
.questions {
   padding: 60px;
   width: 100%;
   background-image: url("assets/seemore.png");
   background-size: cover;
   text-align: center;
}

.questions .button {
   margin: 15px;
}

.questions h1, .questions .button p {
   color: white;
   border-color: white;
   background: none;
}

.questions h1 {
   margin-bottom: 20px;
   font-size: 3em;
}

.bottmenu {
   background-color: #222222;
   padding: 37px 0 7px 0;
   text-align: left;
   overflow: hidden;
}

ul {
   color: white;
   display: inline;
   margin: 0;
   padding: 0;
}

.bottmenu li {
   display: inline-block;
   color: #838383;
   font-size: .7em;
   margin-left: 50px;
   margin-bottom: 30px;
}
