<!DOCTYPE html>
<html>
<head>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="title" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../../globalstyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheet.css">


	<!-- Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<meta name="theme-color" content="#ffffff">
</head>

<body>

	<div class="menu">
		<a href="javascript:void(0);" class="icon" onclick="myFunction()">
			<i class="fas fa-bars"></i>
		</a>
		<div id="menulist">
			<ul>
				<a href="../index.html"><li><span>></span> projects</li></a>
				<a href="../../services/index.html"><li><span>></span> services</li></a>
				<a href="../../about/index.html"><li><span>></span> about</li></a>
				<a href="../../contact/index.html"><li><span>></span> contact</li></a>
			</ul>
		</div>
	</div>

	<div class="content">
		<div class="header">
			<div class="logo">
				<a href="../../index.html"><img src="../../assets/homelogo.svg" alt=""></a>
			</div>
		</div>
		<div class="columncontain">
			<div class="column imgcolumn">
            <img src="../../assets/product test.png" alt="">
			</div><div class="column textcolumn">
            <h1>Product Name</h1>
            <h2>Brand</h2>
            <p><span>Tagline here</span><br/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam finibus nulla at egestas. Donec nec luctus lorem. Nam ut mauris ultrices, aliquam enim eu, venenatis dui. Morbi enim tortor, accumsan vitae mauris id, suscipit aliquet mi. Maecenas quis malesuada magna, sit amet consequat eros. Praesent ac suscipit libero. Morbi interdum tortor neque, sollicitudin faucibus diam elementum id. Duis quis nunc at libero tincidunt volutpat vitae id velit. Phasellus tellus ex, viverra sed odio eu, convallis rhoncus justo.</p>
			</div>
		</div>
		<div class="images">
			<img src="../../assets/machine.png" alt="">
         <img src="../../assets/machine.png" alt="">
         <img src="../../assets/machine.png" alt="">
		</div>
      <div class="projnavigation">
         <a href="../index.html"><div class="navprev navbox">
            <img src="../../assets/arrowprev.png" alt="">
            <div class="navtext">
               <p>Previous<br/><span>Project</span></p>
            </div>
         </div></a>
         <a href="../index.html"><div class="navall navbox">
            <img src="../../assets/navall.png" alt="">
				<div class="navtext">
					<p>All<br/><span>Projects</span></p>
				</div>
         </div></a>
         <a href="../index.html"><div class="navnext navbox">
            <div class="navtext">
               <p>Previous<br/><span>Project</span></p>
            </div>
            <img src="../../assets/arrownext.png" alt="">
         </div></a>
      </div>
		<div class="footer">
			<div class="bottmenu">
				<ul>
					<a href="../projects/index.html"><li>projects</li> </a>
					<a href="../about/index.html"><li>about</li> </a>
					<a href="../contact/index.html"><li>contact</li> </a>
					<a href="../services/index.html"><li>services</li> </a>
					<a href="../archive/index.html"><li>archive</li></a>
				</ul>
			</div>
		</div>
</html>
