body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}

div {
   box-sizing: border-box;
}

/* General things */
a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #F6931D;
}

p {
   font-size: .9em;
   line-height: 1.9em;
   color: #d7d7d7;
   font-weight: 300;
}

h1 {
   line-height: 1.2em;
   margin: 0;
}

h2 {
   font-size: 1.7em;
   color: white;
   line-height: 1.2em;
   margin: 0;
   font-style: italic;
}

h3 {
   color: #222222;
   text-align: center;
   font-size: 1.3em;
   text-transform: uppercase;
   letter-spacing: .15em;
   font-weight: 300;
   line-height: 0;
   margin: 0;
}

h4 {
   color: white;;
   font-size: 2em;
   text-align: center;
}

/* Header Style */
.header {
   width: 100%;
   background-image: url("../assets/machinecontact.png");
   background-size: cover;
   background-position: center;
   padding: 0;
   overflow: auto;
   margin-bottom: 15vh;
}

/* Column Layout  */
.content, .content-mobile {
   text-align: center;
   overflow: hidden;
}

.columncontain {
   margin: auto;
   display: inline-block;
   width: 100%;
   margin-top: 13vh;
}

.column {
   margin: auto;
   display: inline-block;
   padding: 10px 50px;
   vertical-align: top;
   text-align: left;
   box-sizing: border-box;
}

.content-mobile .column {
   padding: 10px 3%;
   width: 100%;
}

.column h2 {
   margin: 30px 0 10px 0;
   color: white;
   font-size: 1.3em;
   font-weight: 700;
   text-transform: uppercase;
}

.column i {
   color: white;
   font-size: 1.5em;
   line-height: 1.5;
   margin-right: 15px;
}

.divideline {
   background-color: #ee9a37;
   border-radius: 2px;
   height: 4px;
   width: 40px;
   margin: 0 auto 24px auto;
}

/* Contact Form style */
.contactform {
   max-width: 500px;
   width: 100%;
   margin: auto;
   box-sizing: border-box;
   display: inline-block;
   color: white;
}

.content-mobile .contactform {
   max-width: none;
}

/* Floating Text Blocks */

.floatingText {
   max-width: 1000px;
   width: 100%;
   margin: auto;
   display: block;
}

.floatingText h1 {
   text-align: left;
   font-size: 2.3em;
   padding-left: 25px;
   max-width: 600px;
   width: 100%;
   box-sizing: border-box;
}
