body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}

div {
   box-sizing: border-box;
}

/* General things */
a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #F6931D;
}

p {
   font-size: .9em;
   line-height: 1.9em;
   color: white;;
   font-weight: 300;
}

h1 {
   line-height: 1.2em;
   margin: 0;
}

h2 {
   font-size: 1.7em;
   color: white;;
   line-height: 1.3em;
   margin: 0;
}

h3 {
   color: white;
   text-align: center;
   font-size: 1.5em;
   font-weight: 500;
   margin: 0;
   letter-spacing: 0;
   text-transform: none;
   line-height: normal;
}

h4 {
   color: white;;
   font-size: 2em;
   text-align: center;
}

/* Header Style */
.header {
   width: 100%;
   background-image: url("../assets/header3.jpg");
   background-size: cover;
   background-position: bottom;
   padding: 0;
   overflow: auto;
   margin-bottom: 15vh;
}

/* Column Layout  */
.content, .content-mobile {
   text-align: center;
}

.columncontain {
   margin: 10vh auto;
   display: inline-block;
}

.column {
   margin: auto;
   display: inline-block;
   padding: 50px;
   vertical-align: top;
   max-width: 320px;
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.firstfade {
   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.secondfade {
   -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

.thirdfade {
   -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}

@keyframes fadein {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
   0% { opacity: 0; }
   80% { opacity: 0; }
   100% { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
   0% { opacity: 0; }
   80% { opacity: 0; }
   100% { opacity: 1; }
}

.left .column h2 {
   text-align: left;
}

.column img {
   margin-bottom: 100px;
   height: 138px;
   text-align: left;
   display: block;
}
.column ul {
   padding: 0 20px;
   text-align: left;
}

.column h2 {
   margin-bottom: 24px;
   font-size: 2em;
   font-style: italic;
}

.column li {
   display: block;
   font-size: .9em;
   line-height: 1.9em;
   color: white;;
}

.content-mobile .column {
   padding: 10%;
   margin-top: 20px;
   text-align: center;
   width: 100%;
   display: block;
}

.content-mobile .columncontain {
   margin-bottom: 0;
}

.content-mobile .column img {
   margin-bottom: 20px;
}

.divideline {
   background-color: #f6931c;
   border-radius: 2px;
   height: 4px;
   width: 40px;
   margin: 0 auto 24px auto;
}

/* Story Text  */

.story {
   width: 100%;
   padding: 7vh 0;
   margin: 20vh 0;
   background-color: white;
}

.story h1, .story h3, .story p {
   color: black;
   text-align: left;
}

.story h1 {
   font-size: 2.2em;
   line-height: 1.5em;
}

.story h3 {
   font-style: italic;
   margin-bottom: 2em;
}

.storyImgs {
   max-width: 500px;
   width: 35vw;
   display: inline-block;
   margin-top: -20vh;
   margin-bottom: -20vh;
   vertical-align: top;
}

.storyImgs img {
   width: 100%;
   display: inline-block;
   margin-bottom: 30px;
}

.storyText {
   max-width: 550px;
   display: inline-block;
   padding: 0 70px;
   vertical-align: middle;
}

.content-mobile .storyImgs {
   width: 100%;
   margin: 0;
}

/* Floating Text Blocks */

.floatingText {
   max-width: 1000px;
   width: 100%;
   margin: auto;
   display: block;
}

.floatingText h1 {
   text-align: left;
   font-size: 4em;
   padding-left: 25px;
   max-width: 500px;
   width: 100%;
   box-sizing: border-box;
}
