body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}

div {
   box-sizing: border-box;
}

/* General things */
a {
   color: black;
   text-decoration: none;
}

a:hover {
   color: #F6931D;
}

p {
   font-size: .9em;
   line-height: 1.9em;
   color: #404042;
   font-weight: 300;
}

h1 {
   font-size: 3em;
   color: #525252;
   line-height: 1.2em;
   margin: 0;
}

h2 {
   font-size: 1.7em;
   color: #525252;
   line-height: 1.3em;
   margin: 0;
}

h3 {
   color: #787878;
   text-align: center;
   font-size: 1.5em;
   font-weight: 500;
   margin: 0;
   letter-spacing: 0;
   text-transform: none;
   line-height: normal;
}

h4 {
   color: #525252;
   font-size: 2em;
   text-align: center;
}

/* Header Style */
.header {
   width: 100%;
   background-image: url("../assets/machine.png");
   background-size: cover;
   background-position: middle center;
   padding: 0;
   overflow: auto;
}

/* Column Layout  */
.content, .content-mobile {
   text-align: center;
}

.columncontain {
   margin: auto;
   display: inline-block;
}

.column {
   margin: auto;
   display: inline-block;
   padding: 50px;
   vertical-align: top;
   max-width: 320px;
}

.column h2 {
   margin-bottom: 24px;
   color: #838383;
   font-size: 2.2em;
}

.divideline {
   background-color: #ee9a37;
   border-radius: 2px;
   height: 4px;
   width: 40px;
   margin: 0 auto 24px auto;
}

/* Image Gallery Style */
.gallery {
   margin: auto;
   display: inline-block;
}

.gallery img {
   max-width: 500px;
   display: inline-block;
   margin: 2vw;
   width: 96vw;
}

/* Textblock Style */
.textblock {
   max-width: 480px;
   width: 90%;
   margin: 80px auto 120px auto;
}

.textblock h1 {
   font-size: 2.5em;
   text-align: left;
}

.textblock h3 {
   margin-top: 5px;
   margin-bottom: 40px;
   text-align: left;
}

.textblock p {
   text-align: left;
}
