body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   scroll-behavior: smooth;
}

div {
   box-sizing: border-box;
}

/* General things */
a {
   color: white;
   text-decoration: none;
}

a:hover {
   color: #F6931D;
}

p {
   font-size: .9em;
   line-height: 1.9em;
   color: white;;
   font-weight: 300;
}

h1 {
   font-size: 2.5em;
   line-height: 1.2em;
   margin: 0;
}

h2 {
   font-size: 1.7em;
   color: white;;
   line-height: 1.3em;
   margin: 0;
}

h3 {
   color: white;
   text-align: center;
   font-size: 1.5em;
   font-weight: 500;
   margin: 0;
   letter-spacing: 0;
   text-transform: none;
   line-height: normal;
}

h4 {
   color: white;;
   font-size: 2em;
   text-align: center;
}

.content-mobile {
   text-align: center;
}

/* Header Style */
.header {
   width: 100%;
   background-image: url("assets/header1.png");
   background-size: cover;
   background-position: top;
   padding: 0;
   overflow: auto;
   height: 75vh;
}

/* Header image rotation script classes */

.header1 {
   background-image: url("assets/header1.png");
}

.header2 {
   background-image: url("assets/header1.png");
}

.header3 {
   background-image: url("../assets/aboutheader4.jpg");
}

.header4 {
   background-image: url("../assets/aboutheader6.jpg");
}

.header5 {
   background-image: url("../assets/aboutheader7.jpg");
}

.header6 {
   background-image: url("../assets/aboutheader8.jpg");
}

.header7 {
   background-image: url("../assets/aboutheader9.jpg");
}

.header8 {
   background-image: url("../assets/aboutheader10.jpg");
}

/* Section block for Content */
.content {
   text-align: center;
}

.section {
   width: 100%;
   display: block;
   margin: 10vh 0;
}

.content-mobile .section {
   padding-left: 5vw;
   padding-right: 5vw;
}

/* Image block formatting */
.imageBlock {
   display: inline-block;
   width: 30vw;
   max-width: 400px;
   text-align: center;
   vertical-align: top;
}

.imageBlock p {
   font-size: .6em;
   font-style: italic;
   line-height: 2;
   text-align: left;
}

.imageBlock img {
   width: 100%;
}

.content-mobile .imageBlock {
   width: 100%;
   max-width: none;
   padding: 60px;
}

/* Textblock Style */
.textblock {
   display: inline-block;
   max-width: 480px;
   width: 90%;
   margin: 0 60px;
   text-align: center;
   vertical-align: top;
}

.textblock h1 {
   text-align: left;
}

.textblock h3 {
   margin-top: 5px;
   margin-bottom: 40px;
   text-align: left;
   font-style: italic;
}

.textblock p {
   text-align: left;
}

.content-mobile .textblock {
   margin: 0;
   width: 90vw;
}

/* landscape photos styling */

#landscapes {
   width: 100%;
   max-width: 1000px;
   margin: auto;
}

#landscapes img {
   width: 100%;
   max-width: 470px;
   margin: 14px;
}

#landscapes img:last-child {
   max-width: 600px;
}

.content-mobile #landscapes img {
   max-width: none;
}

/* Image Slider */
.imageSlider {
   height: 50vh;
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   margin-top: 5vh;
}

.imageSlider img {
   display: inline-block;
   height: 100%;
   margin-left: 20px;
}

/* Award Flow Style */
#awards {
   background-color: white;
   width: 100%;
   padding-top: 10vh;
   margin-bottom: 0;
}

#awards h1, #awards h2, #awards h3 {
   color: #222222;
}

/* #awards h2, #awards h3 {
   text-align: left;
}

#awards .right h2, #awards .right h3 {
   text-align: right;
} */

#awards h1 {
   font-size: 2.2em;
}

#awards h2 {
   font-size: 1.5em;
   line-height: 1em;
}

#awards h2 span {
   font-weight: 400;
   font-size: .8em;
   color: #555555
}

#awards h3 {
   font-size: 1em;
   font-weight: 400;
   color: #777777;
   font-style: italic;
   line-height: 1.5em;
}

.awardList {
   margin: 5vh auto 0 auto;
   width: 100%;
   max-width: 1000px;
}

.award {
   display: inline-block;
   vertical-align: middle;
   text-align: center;
   margin-bottom: 10vh;
}

.award img {
   display: inline-block;
   height: 35vh;
   width: auto;
   vertical-align: middle;
}

.award .awardText {
   display: inline-block;
   vertical-align: middle;
   margin-left: 5vw;
}

.right .award text {
   text-align: right;
}

.content-mobile .awardText {
   display: none;
}
